nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a(href="/").navbar-brand
                //img(src="/assets/images/logo_nookie.png", alt="Logo").logo
                p Nookie