html
    head
        include head
    body(ng-app="app")
        include header

        include sidebar

        .content-body.partial(ng-view)
            block main-block

        auth-loader

        include scripts