// Libraries
script(src="./vendor/angular/angular.js")
script(src="./vendor/angular-route/angular-route.min.js")

// App
script(src="./app/app.module.js")

// Controllers
script(src="./app/controller/dashboard.controller.js")