// Libraries
script(src="./vendor/angular/angular.js")
script(src="./vendor/angular-route/angular-route.min.js")
script(src="./vendor/angular-route/angular-route.min.js")
script(src="./vendor/sweetalert/dist/sweetalert.min.js")

// App
script(src="./app/app.js")