.sidebar
    ul.menu
        a(href="/")
            li
                i.fa.fa-home
                p  Home
        li
            i.fa.fa-bar-chart
            p Stats
        a(href="/users")
            li
                i.fa.fa-users
                p Users
        a(href="/user/create")
            li
                i.fa.fa-user-plus
                p Add User