.sidebar
    ul.menu
        li
            i.fa.fa-home
            p  Home
        li
            i.fa.fa-bar-chart
            p Stats
        li
            i.fa.fa-users
            p Users
        li
            i.fa.fa-user-plus
            p Add User