$dark-color: #23262B;
$medium-dark-color: #33363D;
$medium-color: #3F424A;
$medium-light-color: #F6F7F7;
$light-color: #FAFAFA;

// Colorful colors
$pale-red: #f2dede;
$pale-blue: #d9edf7;
$pale-yellow: #FCF8E3;
$pale-green: #DFF0D8;
$pale-purple: #F5F5F5;

// Subtle
$separator: #A9A9A9;
$white: #FFFFFF;

$heading-color: #C7C7C7;

// Font
$heading-font: 'Lato', sans-serif;

// Font size
$heading1: 2em;
$heading2: 1.8em;
$font: 1em;
$sub: 0.8em;