$dark-color: #23262B;
$medium-dark-color: #33363D;
$medium-color: #3F424A;
$medium-light-color: #F6F7F7;
$light-color: #FAFAFA;

$separator: #A9A9A9;
$white: #FFFFFF;

$heading-color: #C7C7C7;

// Font
$heading-font: 'Lato', sans-serif;

// Font size
$heading1: 2em;
$heading2: 1.8em;
$font: 1em;
$sub: 0.8em;