.container-fluid
    .page-title
        h1 Manage Users
    .page-body
        table.table.table-striped.table-hover
            thead
                tr
                    th #
                    th Last Name&#32;
                        i.fa.fa-caret-down
                    th First Name&#32;
                        i.fa.fa-caret-down
                    th Email Address&#32;
                        i.fa.fa-caret-down
                    th Role&#32;
                        i.fa.fa-caret-down
                    th Member from&#32;
                        i.fa.fa-caret-down
                    th
                    th
            tbody
                tr(ng-repeat="user in users track by $index")
                    td {{$index + 1}}
                    td {{user.lastName}}
                    td {{user.firstName}}
                    td {{user.email}}
                    td.text-capitalize {{user.role | RoleFilter}}
                    td {{user.creationDate}}
                    td
                        a(href="#", ng-show="user.role === 0") Edit
                    td
                        a(href="#", ng-show="user.role === 0", ng-click="promptUserDelete($index)") Delete