.container-fluid
    .page-title
        h1 Manage Users
    .page-body
        table.table.table-striped.table-hover
            thead
                tr
                    th #
                    th First Name&#32;
                        i.fa.fa-caret-down
                    th Last Name&#32;
                        i.fa.fa-caret-down
                    th Email Address&#32;
                        i.fa.fa-caret-down
                    th Role&#32;
                        i.fa.fa-caret-down
                    th Member from&#32;
                        i.fa.fa-caret-down
                    th Last activity&#32;
                        i.fa.fa-caret-down
                    th
                    th
            tbody
                tr
                    td 1
                    td Bogdan
                    td Dorca
                    td bogdandorca@gmail.com
                    td User
                    td Thu Sep 10 2015 15:23:52 GMT+0300
                    td Thu Sep 10 2015 23:57:03 GMT+0300
                    td
                        a(href="#") Edit
                    td
                        a(href="#") Delete
                tr
                    td 2
                    td Ionut
                    td Iacob
                    td iiacob@gmail.com
                    td User
                    td Thu Sep 10 2015 15:23:52 GMT+0300
                    td Thu Sep 10 2015 23:57:03 GMT+0300
                    td
                        a(href="#") Edit
                    td
                        a(href="#") Delete
                tr
                    td 3
                    td Oana
                    td Gherman
                    td ogherman@gmail.com
                    td User
                    td Thu Sep 10 2015 15:23:52 GMT+0300
                    td Thu Sep 10 2015 23:57:03 GMT+0300
                    td
                        a(href="#") Edit
                    td
                        a(href="#") Delete
                tr
                    td 4
                    td Beata
                    td Tamas
                    td btamas@gmail.com
                    td User
                    td Thu Sep 10 2015 15:23:52 GMT+0300
                    td Thu Sep 10 2015 23:57:03 GMT+0300
                    td
                        a(href="#") Edit
                    td
                        a(href="#") Delete
                tr
                    td 5
                    td Paula
                    td Olaru
                    td polaru@gmail.com
                    td Admin
                    td Thu Sep 10 2015 15:23:52 GMT+0300
                    td Thu Sep 10 2015 23:57:03 GMT+0300
                    td -
                    td -
                tr
                    td 6
                    td Ioan
                    td Cimpeanu
                    td icimpeanu@gmail.com
                    td User
                    td Thu Sep 10 2015 15:23:52 GMT+0300
                    td Thu Sep 10 2015 23:57:03 GMT+0300
                    td
                        a(href="#") Edit
                    td
                        a(href="#") Delete